/* Overrides */

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    background-color: #1e1e1e;
    color: white;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    text-align: center
}

h1 {
    font-size: 40px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 20px
}

h1,
h2,
h3 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0
}

a {
    color: inherit
}


/* Header */

.header-box {
    padding: 0.01em 16px;
    background-color: #145462;
    line-height: 0px;
    text-align: left
}

.title1 {
    /* font-size: 7vw */
    font-size: 70px;
    font-weight: bold
}

.title2 {
    font-size: 30px;
    font-weight: bold
}


/* Rows */

.row {
    background-color: #208da6
}


/* Button */

.button {
    background-color: #208da6;
    color: #fff;
    border: none;
    display: inline-block;
    padding: 16px;
    padding-right: 26px;
    font-size: 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
}

.button:hover {
    color: #fff;
    background-color: #37b6d4
}


/* Content */

.showcase-large {
    max-width: 80%;
    padding-top: 16px;
    padding-bottom: 16px;
    height: auto;
    margin: auto
}

.showcase-box,
.showcase-box-r {
    max-width: 90%;
    padding-top: 32px;
    padding-bottom: 32px;
    height: auto;
    margin: auto
}

.image-box,
.video-box {
    width: 63%;
    display: inline-block
}

.showcase-seperator {
    display: inline-block;
    width: 3%
}

.text-box {
    width: 33%;
    vertical-align: top;
    display: inline-block;
    text-align: left;
}

.showcase-row {
    max-width: 90%;
    padding-bottom: 32px;
    vertical-align: top;
    text-align: left;
    margin: auto
}

.half {
    width: 48%;
    vertical-align: top;
    display: inline-block;
}

.showcase-small {
    width: 90%;
    max-width: 850px;
    padding-top: 32px;
    padding-bottom: 32px;
    margin: auto;
}

.half-card {
    width: 47%;
    vertical-align: top;
    display: inline-block;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}


/* Resume */

.text-large {
    margin: auto;
    max-width: 750px;
    width: 90%;
    text-align: left;
}

.work-date {
    display: inline;
    float: right;
    font-size: 15px;
}

.work-desc {
    margin-left: 32px;
}


/* Mobile Mode */

@media (max-width: 1170px) {
    .title1 {
        font-size: 50px;
    }
    .title2 {
        font-size: 20px;
    }
    .half {
        width: 100%;
    }
    .showcase-box-r {
        display: flex;
        flex-direction: column-reverse;
    }
    .showcase-seperator {
        width: 0%;
    }
    .text-box {
        width: 100%;
    }
    .image-box,
    .video-box {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .title1 {
        font-size: 30px;
    }
    .title2 {
        font-size: 18px;
    }
    .half-card {
        width: 100%;
    }
}